:root {
  --font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  --font-size-button: 16px;
  --font-line-height-button: 20px;
  --button-radius: 2px;
  --button-padding: 16px 5px 16px 7px;
}
