/* -- PRIMARY -- */
$primary-100: #cce5ea;
$primary-300: #8cc4d0;
$primary-500: #007c97;
$primary-600: #005d71;
$primary-700: #003945;
$primary-800: #002e38;
$primary-900: #062931;

/* -- SECONDARY -- */
$secondary-300: #ffc1a3;
$secondary-500: #ff5412;
$secondary-700: #b34015;
$secondary-900: #823214;

/* -- SUCCESS -- */
$success-300: #c1eac1;
$success-500: #20b422;
$success-700: #157917;
$success-900: #105c11;

/* -- DANGER -- */
$danger-300: #ffe3dd;
$danger-500: #ff002d;
$danger-700: #8b0018;
$danger-900: #4e000d;

/* -- WARNING -- */
$warning-300: #fffac1;
$warning-500: #ffe900;
$warning-700: #595200;
$warning-900: #2e2a00;

/* -- INFO -- */
$info-300: #bdedff;
$info-500: #00b8ff;
$info-700: #007dad;
$info-900: #00e042;

/* -- LIGHT -- */
$light-100: #ffffff;
$light-200: #fafafa;
$light-300: #f6f6f6;
$light-400: #e7e7e7;
$light-500: #d6d6d6;
$light-600: #9b9b9b;
$light-700: #474747;
$light-900: #191919;
