.button {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #20B422;
  color: #ffffff;
  outline: none;
  border: none;
  transition: 'background-color' 300ms ease;
}

.button:hover, .button:active {
  cursor: pointer;
  background-color: #157917;
}
